@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-300 {
  @apply transition-all duration-300;
}
.hover-500 {
  @apply transition-all duration-500;
}
.section-padding {
  @apply py-12 lg:py-20 xl:py-24 2xl:py-28;
}

/* Animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
